api_aanmaken/api_aanmaken_lennert_vanoosterwyck_r0782485/.env
api_aanmaken/api_aanmaken_lennert_vanoosterwyck_r0782485/node_modules
api_aanmaken/api_aanmaken_david_backx_r0845140/API/.env
api_aanmaken/api_aanmaken_david_backx_r0845140/API/node_modules

